<nav>
  <div class="container-fluid">
    <div class="top-bar">
      <div class="col-sm-12">
        <a target="_self" class="top-bar__logo" href="https://www.secondstoryauctions.com/">
          <img src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/logo-6264fb48ce522e3b88fcb950891365bd.svg" alt="Logo">
        </a>
        <a class="top-bar__expand">Menu</a>
        <ul class="top-bar__nav">
          <ul class="top-bar__main-nav">
            <li><a target="_self" class="navigation" href="https://www.secondstoryauctions.com/items">Browse</a></li>
            <li><a target="_self" class="navigation" href="https://www.secondstoryauctions.com/sell">Sell</a></li>
            <li><a target="_self" class="navigation" href="https://www.secondstoryauctions.com/our-story">Our Story</a></li>
            <li class="visible-sm visible-xs"><a target="_self" href="https://www.secondstoryauctions.com/contact">Contact Us</a></li>
          </ul>
          <ul class="top-bar__user-nav">
            <li class="top-bar__status">
              <a target="_self" class="top-bar__status-none" href="https://www.secondstoryauctions.com/items/following"><i class="fa fa-star fa-fw"></i>
<div class="top-bar__status-follow">0</div>
</a></li>
            <li class="top-bar__status">
              <a target="_self" class="top-bar__status-none" href="https://www.secondstoryauctions.com/items/following"><i class="fa fa-thumbs-up fa-fw">
<div class="top-bar__status-win">0</div>
</i>
</a></li>
            <li class="top-bar__status">
              <a target="_self" class="top-bar__status-none" href="https://www.secondstoryauctions.com/items/following"><i class="fa fa-thumbs-down fa-fw"></i>
<div class="top-bar__status-lose">0</div>
</a></li>
            <li class="visible-sm visible-xs"><a target="_self" href="https://www.secondstoryauctions.com/items/following">Items Following</a></li>
            <li class="visible-sm visible-xs"><a target="_self" href="https://www.secondstoryauctions.com/invoices">Purchase History</a></li>
            <li class="visible-sm visible-xs"><a target="_self" href="https://www.secondstoryauctions.com/credit_cards">My Credit Cards</a></li>
            <li class="visible-sm visible-xs"><a target="_self" href="https://www.secondstoryauctions.com/profile/edit">Account Settings</a></li>
            <li class="visible-sm visible-xs"><a target="_self" rel="nofollow" data-method="delete" href="https://www.secondstoryauctions.com/users/sign_out">Log Out</a></li>
            <li class="top-bar__dropdown-container">
              <a class="visible-md visible-lg" data-toggle="dropdown" href="https://www.secondstoryauctions.com/#">
                <span>Bidder #{{bidder?.id}}</span>
              </a>
              <ul class="dropdown-menu top-bar__dropdown" role="menu">
                <li class="top-bar__bidder">
                  Chris Nelson
                  <span class="top-bar__bid-number">Bidder #4532</span>
                </li>
                <li><a target="_self" href="https://www.secondstoryauctions.com/items/following">Items Following</a></li>
                <li><a target="_self" href="https://www.secondstoryauctions.com/invoices">Purchase History</a></li>
                <li><a target="_self" href="https://www.secondstoryauctions.com/profile/edit">Account Settings</a></li>
                <li><a target="_self" href="https://www.secondstoryauctions.com/credit_cards">My Credit Cards</a></li>
                <li><a target="_self" rel="nofollow" data-method="delete" href="https://www.secondstoryauctions.com/users/sign_out">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</nav>



<!-- uiView:  -->
<div class="main-view-container container container--content ng-scope" ui-view="">
  <div class="auction-item-detail">
    <div class="auction-item-detail__nav">
      <div class="row soft-push--bottom">
        <div class="col-sm-6 hidden-xs">
          <a target="_self" class="btn--secondary btn--base-lt" href="https://www.secondstoryauctions.com/auctions/83">&lt; Back to Neon Signage, Furniture, Collectibles and More ~ 15055</a>
        </div>
        <div class="col-sm-4 col-xs-12 float--right">
          <div class="row">
            <div class="col-xs-6">
              <a target="_self" class="btn--secondary btn--base-lt auction-item-detail__nav__item" href="https://www.secondstoryauctions.com/auctions/83/items/handmade-basket-258">&lt; Previous</a>
            </div>
            <div class="col-xs-6">
              <a target="_self" class="btn--secondary btn--base-lt auction-item-detail__nav__item" href="https://www.secondstoryauctions.com/auctions/83/items/signed-pastoral-landscape-2">Next &gt;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="auction-item-detail-container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="auction-item-detail__name"> Copper Weathervane with Horse and Sulky</h1>
        </div>
        <div class="col-sm-6 hidden-xs">
          <div class="auction-item-detail__share">
            <div class="auction-item-detail__label hidden-xs">Share:</div>
            <a target="_blank" class="fa fa-twitter" href="http://twitter.com/share?text=Love%20this!%20%20Copper%20Weathervane%20with%20Horse%20and%20Sulky%20via%20@secondstoryauc&amp;url=https://www.secondstoryauctions.com/auctions/83/items/copper-weathervane-with-horse-and-sulky-1"></a>
            <a target="_blank" class="fa fa-facebook" href="http://www.facebook.com/sharer/sharer.php?url=https://www.secondstoryauctions.com/auctions/83/items/copper-weathervane-with-horse-and-sulky-1"></a>
            <a target="_blank" class="fa fa-pinterest" href="http://pinterest.com/pin/create/link/?url=https://www.secondstoryauctions.com/items/copper-weathervane-with-horse-and-sulky-1&amp;media=https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128098/display__DSC1020-68.jpg&amp;description=%20Copper%20Weathervane%20with%20Horse%20and%20Sulky%20from%20Second%20Story%20Auctions%20%23estatesale"></a>
            <a class="fa fa-envelope" href="mailto:?body=I%20saw%20this%20on%20Second%20Story%20Auctions%20and%20thought%20you%27d%20love%20it%21%20%20Check%20out%20this%20%20Copper%20Weathervane%20with%20Horse%20and%20Sulky%3A%20https%3A%2F%2Fwww.secondstoryauctions.com%2Fauctions%2F83%2Fitems%2Fcopper-weathervane-with-horse-and-sulky-1&amp;subject=%20Copper%20Weathervane%20with%20Horse%20and%20Sulky%20on%20Second%20Story%20Auctions%21"></a>
          </div>
        </div>
      </div>
      <hr class="divider--small hidden-xs">
      <div class="row push--top ng-scope" images-loaded="imgLoadedEvents" ng-controller="AuctionItemPhotosCtrl">
        <div class="col-md-8">
          <div class="photo-gallery__selected-wrapper" ng-swipe-left="photoGallery.nextPhoto()" ng-swipe-right="photoGallery.previousPhoto()">
            <img class="photo-gallery__selected-image" src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/display__DSC1020-68.jpg" alt="Display  dsc1020 68" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128098/display__DSC1020-68.jpg">
            <div class="visible-sm visible-md visible-lg">
              <span class="photo-gallery__previous" ng-click="photoGallery.previousPhoto()"></span>
              <span class="photo-gallery__next" ng-click="photoGallery.nextPhoto()"></span>
            </div>
          </div>
          <div class="push--bottom photo-gallery__thumbnaill-wrap">
            <!-- ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope photo-gallery__thumbnail--selected" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos"
            ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128098/tiny__DSC1020-68.jpg" src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1020-68.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128099/tiny__DSC1021-69.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1021-69.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128100/tiny__DSC1022-70.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1022-70.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128101/tiny__DSC1023-71.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1023-71.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128102/tiny__DSC1024-72.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1024-72.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128103/tiny__DSC1025-73.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1025-73.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128104/tiny__DSC1026-74.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1026-74.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128105/tiny__DSC1027-75.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1027-75.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128107/tiny__DSC1028-76.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1028-76.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128106/tiny__DSC1029-77.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1029-77.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128108/tiny__DSC1030-78.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1030-78.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128109/tiny__DSC1031-79.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1031-79.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128110/tiny__DSC1032-80.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1032-80.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <img class="photo-gallery__thumbnail ng-scope" ng-class="{ &#39;photo-gallery__thumbnail--selected&#39;: photoGallery.isPhotoSelected(photo) }" ng-click="photoGallery.selectPhoto(photo)" ng-repeat="photo in photoGallery.photos" ng-src="https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128111/tiny__DSC1033-81.jpg"
            src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/tiny__DSC1033-81.jpg">
            <!-- end ngRepeat: photo in photoGallery.photos -->
            <h4 class="visible-xs photo-gallery__swipe">Swipe left and right to view images</h4>
          </div>
        </div>
        <auction-bid [bidder]="bidder"></auction-bid>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <h3 class="type--subheading-serif">Item Details</h3>
        <hr class="divider--small">
      </div>
    </div>
    <div class="row auction-description push--bottom">
      <div class="col-md-7">
        <h4 class="auction-description__label">Description:</h4>
        <p class="auction-description__info">Sulky with rider and trotting horse copper weather vane with directionals and beautiful patina.</p>
        <h4 class="auction-description__label">Condition:</h4>
        <div class="auction-description__info">
          Good ~ Weathered, wear is consistent with age and use. Please preview for personal assessment.
        </div>
        <h4 class="auction-description__label">Size:</h4>
        <div class="auction-description__info">
          17.5" H x 32.5" L x 8" D, upper piece
        </div>
        <h4 class="auction-description__label">Item #:</h4>
        <div class="auction-description__info">
          1
        </div>
        <h4 class="auction-description__label">Categories:</h4>
        <div class="auction-description__info">
          <a target="_self" class="btn--small btn--base-lt auction-item-detail__item-category" href="https://www.secondstoryauctions.com/items?category_id=3">Artwork</a>
          <a target="_self" class="btn--small btn--base-lt auction-item-detail__item-category" href="https://www.secondstoryauctions.com/items?category_id=4">Architectural</a>
          <a target="_self" class="btn--small btn--base-lt auction-item-detail__item-category" href="https://www.secondstoryauctions.com/items?category_id=11">Collectibles</a>
          <a target="_self" class="btn--small btn--base-lt auction-item-detail__item-category" href="https://www.secondstoryauctions.com/items?category_id=23">Metalware</a>
          <a target="_self" class="btn--small btn--base-lt auction-item-detail__item-category" href="https://www.secondstoryauctions.com/items?category_id=34">Other</a>
        </div>
        <h4 class="auction-description__label">Shipping:</h4>
        <div class="auction-description__info">
          <a href="mailto:contact@secondstoryauctions.com?body=Please%20tell%20us%20where%20you%20want%20the%20item%20shipped%20and%20we%27ll%20get%20back%20to%20you%3A%0A%0AName%3A%0AAddress%3A%0ACity%2C%20State%20Zip%3A%0A_______________________________________%0A%0AAuction%3A%20Neon%20Signage%2C%20Furniture%2C%20Collectibles%20and%20More%20%7E%2015055%0AItem%20%231%3A%20%20Copper%20Weathervane%20with%20Horse%20and%20Sulky%0ADescription%3A%20Sulky%20with%20rider%20and%20trotting%20horse%20copper%20weather%20vane%20with%20directionals%20and%20beautiful%20patina.%0ADimensions%3A%2017.5%22%20H%20x%2032.5%22%20L%20x%208%22%20D%2C%20upper%20piece%0A&amp;subject=Shipping%20for%20Item%20%231%20in%20Auction%20Neon%20Signage%2C%20Furniture%2C%20Collectibles%20and%20More%20%7E%2015055">Contact us for details</a>
        </div>
      </div>
    </div>
    <div class="auction-item-detail__nav show-xs hidden-sm hidden-md hidden-lg">
      <hr>
      <div class="row soft-push--bottom">
        <div class="col-xs-6">
          <a target="_self" class="btn--secondary btn--base-lt" href="https://www.secondstoryauctions.com/auctions/83/items/handmade-basket-258">&lt; Previous</a>
        </div>
        <div class="col-xs-6 push--bottom">
          <a target="_self" class="btn--secondary btn--base-lt float--right" href="https://www.secondstoryauctions.com/auctions/83/items/signed-pastoral-landscape-2">Next &gt;</a>
        </div>
        <div class="col-xs-12">
          <a target="_self" class="btn--secondary btn--base-md" href="https://www.secondstoryauctions.com/auctions/83">&lt; Back to Neon Signage, Furniture, Collectibles and More ~ 15055</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="auction-item-detail__share">
            <div class="auction-item-detail__label hidden-xs">Share:</div>
            <a target="_blank" class="fa fa-twitter" href="http://twitter.com/share?text=Love%20this!%20%20Copper%20Weathervane%20with%20Horse%20and%20Sulky%20via%20@secondstoryauc&amp;url=https://www.secondstoryauctions.com/auctions/83/items/copper-weathervane-with-horse-and-sulky-1"></a>
            <a target="_blank" class="fa fa-facebook" href="http://www.facebook.com/sharer/sharer.php?url=https://www.secondstoryauctions.com/auctions/83/items/copper-weathervane-with-horse-and-sulky-1"></a>
            <a target="_blank" class="fa fa-pinterest" href="http://pinterest.com/pin/create/link/?url=https://www.secondstoryauctions.com/items/copper-weathervane-with-horse-and-sulky-1&amp;media=https://dpe1yp06dcpux.cloudfront.net/uploads/auction_item_photo/photo/128098/display__DSC1020-68.jpg&amp;description=%20Copper%20Weathervane%20with%20Horse%20and%20Sulky%20from%20Second%20Story%20Auctions%20%23estatesale"></a>
            <a class="fa fa-envelope" href="mailto:?body=I%20saw%20this%20on%20Second%20Story%20Auctions%20and%20thought%20you%27d%20love%20it%21%20%20Check%20out%20this%20%20Copper%20Weathervane%20with%20Horse%20and%20Sulky%3A%20https%3A%2F%2Fwww.secondstoryauctions.com%2Fauctions%2F83%2Fitems%2Fcopper-weathervane-with-horse-and-sulky-1&amp;subject=%20Copper%20Weathervane%20with%20Horse%20and%20Sulky%20on%20Second%20Story%20Auctions%21"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <ul class="footer__links visible-md visible-lg">
            <li><a target="_self" href="https://www.secondstoryauctions.com/fundraising">Fundraising</a></li>
            <li><a target="_self" href="https://www.secondstoryauctions.com/frequently-asked-questions">FAQ</a></li>
            <li><a target="_self" href="https://www.secondstoryauctions.com/join-our-team">Join Our Team</a></li>
            <li><a target="_self" href="https://www.secondstoryauctions.com/privacy-terms">Privacy &amp; Terms</a></li>
            <li><a target="_self" href="https://www.secondstoryauctions.com/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-sm-5">
          <div class="footer__social-media visible-md visible-lg">
            <h4>Keep up with us</h4>
            <a class="fa fa-facebook" href="https://www.facebook.com/secondstoryauc" target="_blank"></a>
            <a class="fa fa-twitter" href="https://www.twitter.com/secondstoryauc" target="_blank"></a>
            <a class="fa fa-pinterest" href="http://www.pinterest.com/secondstoryauc/" target="_blank"></a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="footer__partnership">Second Story Auctions proudly partners with <a href="http://www.sibcycline.com/" target="_blank"> Sibcy Cline Realtors </a></div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="footer__gaslight">
            <div class="footer__gaslight-link">Created by <a href="http://teamgaslight.com/" target="_blank"> Gaslight </a></div>
            <img class="footer__gaslight-icon" src="./Second Story Auctions _ Copper Weathervane with Horse and Sulky_files/gaslight-f22881ae134bc4ca94dfe6b3872fcc9a.svg">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="footer__copyright">© 2014 Second Story Auctions. All rights reserved.</div>
        </div>
      </div>
    </div>
  </div>


</footer>
