<div class="col-md-4 bid-container ng-scope" ng-controller="BidController" ng-hide="loading">
  <div class="bid" [class.bid--winning]="winning()" [class.bid--losing]="losing()">
    <div class="row" ng-show="item.hasBids()">
      <div class="col-md-12" ng-switch="" on="bidStatus()">
        <!-- ngSwitchWhen: winning -->
        <!-- ngSwitchWhen: losing -->
      </div>
    </div>
    <div class="row bid-container__bid">
      <div class="col-md-3 col-sm-12">
        <div class="bid__label">Current Bid:</div>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="bid__current-bid ng-binding">$ {{maxBid?.amount}}</div>
      </div>
    </div>
    <div class="row bid-container__bid" ng-show="item.isOpen()">
      <div class="col-md-3 col-sm-12">
        <div class="bid__label">Bid Amount:</div>
      </div>
      <div class="col-md-9">
        <div class="bid__field-wrap">
          <div class="bid__field" ng-show="item.isOpen()">
            <div class="row">
              <form name="form" class="ng-pristine ng-valid">
                <div class="col-md-12 col-sm-6">
                  <div class="bid-message">
                    <div class="bid-message__description ng-hide" ng-class="{&#39;bid__minimum--error&#39;: isMinimumBidTooLow()}" ng-show="item.hasBid(currentUser)">
                      Your max bid is
                      <strong class="ng-binding">$</strong>.
                      <a class="bid-message__link" data-keyboard="true" data-target=".max-bid-wrap.modal" data-toggle="modal" href="https://www.secondstoryauctions.com/#">Learn More &gt;</a>
                    </div>
                  </div>
                  <div ng-show="currentUser" class="form-group" [class.has-error]="error">
                    <div class="input-group" ng-class="{&#39;bid__input-group--error&#39;: isInvalid()}">
                      <span class="input-group-addon">$</span>
                      <input class="bid__bid-amount form-control ng-pristine ng-untouched ng-valid" id="amount" name="amount" [(ngModel)]="newBid.amount" number-mask="true" type="text" />
                      <span class="input-group-addon">.00</span>
                    </div>
                    <span *ngIf="error">This bid is too small</span>
                  </div>
                </div>
                <div class="col-md-12 col-sm-7 bid__field__submission">
                  <button class="btn--medium btn--action full-width ng-binding" (click)="addBid()">Place Bid</button>
                  <div class="soft-push--top ng-scope" ng-controller="FollowCtrl" ng-show="currentUser">
                    <button class="btn--medium btn--base-lt full-width" ng-click="followClick(item)">
                      <i class="fa fa-star ng-binding">Follow Item</i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
